body
{
	background-color: white;
	padding: 25px;
	color: black;
	font-size: 25px;
}
 
.dark-mode{
		background-color: black;
		color: white;
}


.navbar-name
{

	color:white;
	text-decoration: none;
	font-size: 30px;
}